<ul class="issues-list">
    <li><a asp-controller="AdminInvites">Invites</a></li>
    <li><a asp-controller="AdminUsers">Users</a></li>
    <li><a asp-controller="AdminRoles">Roles</a></li>
    <li><a asp-controller="AdminPlans">Plans</a></li>
</ul>