<ul class="issues-list">
    <li><a asp-action="ViewUsers">View all registered users</a></li>
<!--    <li><a asp-action="ViewInvites">View unredeemed invites</a></li>
    <li><a asp-action="ViewRoles">View all roles</a></li>
-->
</ul>